.navbar-yellow {
    background-color: #ffc426 !important;
    color: #000 !important;
}

body {
    padding-top: 70px;
  }

.list-group-fab {
    position: relative;
    padding-bottom: 56px;
}

.btn-fab {
    position: absolute !important;
    right: 0;
    bottom: 0;
}