@model HandleErrorInfo

@{
    ViewBag.Title = "Fout bij laden";
}

<h1>Iemand is ontslagen <span>:(</span></h1>
<p>Helaas is er bij het laden van de pagina iets mis gegaan.</p>
<p>Dit kan meerdere oorzaken hebben:</p>
<ul>
    <li>een typfout in het adres</li>
    <li>een incompetente ontwikkelaar</li>
</ul>
<h4>Details voor de developer</h4>
<pre>@Model.Exception.ToString()</pre>